.about-banner {
    display: flex;
    background-image: url(img/bottle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 450px;
    align-self: center;
    justify-content: center;
    
}

.about-banner-text {
    text-align: center;
    margin-top: 60px;
    
   
}

.about-banner-text h1 {
    font-family: 'Arian';
    font-size: 30px;
    font-weight: bolder;

}

.foss{
    display: flex;
    flex-wrap: wrap;
    
   

}

.foss4 {
    
    flex: 1 1 50%;
    
    aspect-ratio: 1;
    justify-content: center; 
    align-items: center; 
    background-color: #3C555D;
    max-height: 500px;
       
}
.foss4 h2 {
    color: #B5D2DC;
    margin: 30px
   
    
    
    
}

.foss4 p{
    color: #fff;
    margin: 30px;
    margin-top: -15px;
}

.foss2 {
    background-image: url(img/foss.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1 1 50%;
    min-height: 350px;
    aspect-ratio: 1;
    
}

.foss1 {
    background-color: #414D55;
    flex: 1 1 50%;
    min-height: 350px;
    aspect-ratio: 1;
    justify-content: center; 
    align-items: center; 
   
       
}

.one-mans > h3 {
    text-align: center;
    padding-top: 3rem;
    
}
 .one-mans > h4 {
    text-align: center;
   
 }


 .one-cta {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-family: 'Arian', sans-serif; 
    font-size: 17px;
    color: #fff;
    border: 1px solid #fff; 
    border-radius: 5px;
    padding: 6px 60px;
    margin-inline: 60px;
}
    
.core {
    background-color: #B5D2DC;
    padding: 3rem;

}

.core-text{
    text-align: center;
}

.core-text h2{
    font-size: 30px;

}

.values {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: #3A3F43;
    text-align: center;
    justify-content: center
    
}

.values h2 {
   
    color: white;
    font-size: 35px;
    padding-top: 40px;
    
}

.humanity {
    flex: 0 1 350px;
    background-image: url(img/sustain.png);
    background-repeat: no-repeat;
    padding: 3rem;
    aspect-ratio: 1;
   
}



.sustainability {
    flex: 0 1 350px;
    background-image: url(img/sustain.png);
    background-repeat: no-repeat;
    padding: 3rem;
    aspect-ratio: 1;
  
}



.resposibility {
    flex: 0 1 350px;

    aspect-ratio: 1;
    background-image: url(img/respons.png);
    background-repeat: no-repeat;
    padding: 3rem;
  
    justify-content: center;
    
}

.value-text > p{
    color: #fff;
   
}
