

.filter{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 1rem;
    padding: 1rem;
    
    
}

.filterbox{
    background-color: #414D55;
    font-family: 'Arian';
    align-items: center;
    border-radius: 2.41px;
    text-align: center;
   
    
}
.filterbox > a {
    color: #fff;
    padding: 1rem;
    
    


}


.shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 1rem;
    padding: 1rem;
}


.shop-grid-item {
    background-color: #fff;
    aspect-ratio: 1;
}

.shop-grid-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.shop-grid-item > a h2  {
    margin-top: 0px;
    font-family: 'Arian';
    color: #414D55;
    font-size: 25px;
    font-weight: bolder;
    padding: 0;
}
.shop-grid-item > a h6 {
    margin-top: -20px;
}


